<footer class="footer">
    <div class="wrapper">
        <div class="content">
            <div class="list">
                <div class="column">
                    <h2>{{ _('Services') }}</h2>
                    <ul>
                        <li>
                            <a href="#">{{ _('Anonymous feedback') }}</a>
                        </li>
                        <li>
                            <a href="#">{{ _('Custom feedback') }}</a>
                        </li>
                        <li>
                            <a href="#">{{ _('Metrica feedback') }}</a>
                        </li>
                    </ul>
                </div>

                <div class="column">
                    <h2>{{ _('Why do we') }}</h2>
                    <ul>
                        <li>
                            <a href="#">{{ _('About Us') }}</a>
                        </li>
                        <li>
                            <a href="#">{{ _('Partners') }}</a>
                        </li>
                        <li>
                            <a href="#">{{ _('Contact us') }}</a>
                        </li>
                    </ul>
                </div>

                <div class="column">
                    <h2>{{ _('Legal') }}</h2>
                    <ul>
                        <li>
                            <a href="{{ url_for('cookie_policy') }}">{{ _('Cookie Policy') }}</a>
                        </li>
                        <li>
                            <a href="{{ url_for('privacy_policy') }}">{{ _('Privacy Policy') }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="about_us_short">
                <h5 class="visually-hidden">KnowEmployee</h5>
                <div class="logo">
                    <img src="{{ url_for('static', filename='assets/images/logo-dark.svg') }}"
                         alt="KnowEmployee">
                </div>

                <p>{{ _('We provide tools to analyze your workplace environment, and have created a solution that can improve your employee satisfaction. We know that if a person comes to work in a good mood, they\'ll be more likely to perform at work.') }}</p>
                <p>{{ _('Get to know your employee better, improve the work environment with our analysis tools') }}</p>
            </div>
        </div>
        <div class="copyright">
            <span>© {{ year }} KnowEmployee. {{ _('All rights reserved.') }}</span>
        </div>
    </div>
</footer>
