<div class="menu_h wrapper">
    <div class="l">
        <div class="logo">
            <img src="../static/assets/images/logo-dark.svg" alt="KnowEmployee">
            <select class="menu_lang" id="language-selector" aria-label="Select language">
                <option value="en" selected>🇺🇸 EN</option>
                <option value="fr">🇫🇷 FR</option>
            </select>
        </div>
        <nav class="navigation">
        </nav>
    </div>
    <div class="menu_toggler cross"></div>
    <div class="r">
        <div class="menu">
            <a href="/">{{ _('Home') }}</a>
            <a href="/contact">{{ _('Contact') }}</a>
            <a href="/register">{{ _('Sign Up') }}</a>
            <a class="up" href="/login">{{ _('Sign In') }}</a>
        </div>
    </div>
</div>